.main-header {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(10px);

  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid var(--light-gray-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}

.logo a {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--heading-color);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem; 
}

.nav-links a {
  color: var(--text-color);
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
  background-color: var(--light-gray-color);
}

.nav-links .btn-primary {
  padding: 10px 22px;
}

.welcome-message {
  font-weight: 500;
  margin-right: 1rem;
  color: var(--heading-color);
}

.logout-link {
  cursor: pointer;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
}
.nav-links .nav-icon {
  font-size: 1.6rem; 
  color: var(--color-text-muted);
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  text-decoration: none;
}

.nav-links .nav-icon:hover {
  background-color: transparent; 
  color: var(--color-primary);
  text-decoration: none;
}

.logout-icon {
  font-size: 1.5rem;
}