<header class="main-header">
  <nav class="navbar">
    <div class="logo">
      <a routerLink="/">FreelaHub</a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/projects">Explorar Projetos</a></li>
      <li><a routerLink="/" fragment="sobre">Sobre</a></li>
      <li><a routerLink="/" fragment="planos">Planos</a></li>
      <li><a routerLink="/" fragment="contato">Contato</a></li>
      
      <ng-container *ngIf="!isLoggedIn">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/selecao-cadastro" class="btn btn-primary">Cadastre-se</a></li>
      </ng-container>

      <ng-container *ngIf="isLoggedIn">
        <li><a routerLink="/dashboard" class="nav-icon" title="Minha Conta">👤</a></li>
        
        <li><a (click)="logout()" class="nav-icon logout-icon" title="Sair">↪️</a></li>
      </ng-container>
    </ul>
  </nav>
</header>