<header class="main-header">
  <div class="container">
    <a routerLink="/" class="logo">FreelaHub</a>
    <nav>
      <ul>
        <li><a routerLink="/projects">Ver Projetos</a>
            <a routerLink="/login" class="btn">Login / Cadastro</a>
</li>

        <ng-container *ngIf="!isLoggedIn">
          <li><a routerLink="/login" class="btn">Login</a></li>
          <li><a routerLink="/selecao-cadastro" class="btn">Cadastre-se</a></li>
        </ng-container>

        <li *ngIf="isCompany">
          <a routerLink="/projects/create" class="btn cta-button">Postar Projeto</a>
        </li>

        <li *ngIf="isLoggedIn">
          <a (click)="onLogout()" style="cursor: pointer;">Sair</a>
        </li>
      </ul>
    </nav>
  </div>
</header>