<div class="form-page-wrapper">
  <div class="form-container">
    <h2>Login</h2>
    <p>Bem-vindo de volta! Faça login para continuar.</p>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" formControlName="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" formControlName="password" class="form-control">
      </div>

      <div *ngIf="errorMessage" class="feedback-error">
        {{ errorMessage }}
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Entrar</button>
    </form>
    
    <div class="form-footer">
      <p>Não tem uma conta? <a routerLink="/selecao-cadastro">Cadastre-se</a></p>
    </div>
  </div>
</div>