<div class="selection-container">
  <h2>Como você quer usar o FreelaHub?</h2>
  <p>Escolha o tipo de perfil que melhor descreve você.</p>
  <div class="options">

    <div class="option-card" [routerLink]="['/signup', 'freelancer']">
      <img src="assets/freelancer-icon.svg" alt="Ícone de Freelancer" class="option-icon">
      <h3>Sou Freelancer</h3>
      <p>Quero encontrar projetos interessantes e trabalhar em desafios que amo.</p>
    </div>

    <div class="option-card" [routerLink]="['/signup', 'company']">
      <img src="assets/company-icon.svg" alt="Ícone de Empresa" class="option-icon">
      <h3>Sou Empresa</h3>
      <p>Quero contratar os melhores talentos para tirar meus projetos do papel.</p>
    </div>

  </div>
</div>