<div *ngIf="isOwner">
        <div *ngIf="project.proposals.length > 0; else noProposals">
          
          <div *ngFor="let proposal of project.proposals" class="proposal-card">
            <p><strong>Candidato:</strong> {{ proposal.freelancer.user.name }}</p>
            
            <p><strong>E-mail para contato:</strong> <a [href]="'mailto:' + proposal.freelancer.user.email">{{ proposal.freelancer.user.email }}</a></p>
            
            <p><strong>Valor da Proposta:</strong> R$ {{ proposal.valor | number:'1.2-2' }}</p>
            <p class="proposal-message">"{{ proposal.mensagem_proposta }}"</p>
          </div>
          
        </div>
        <ng-template #noProposals><p class="empty-message">Nenhuma proposta recebida ainda.</p></ng-template>
      </div>